@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@100;400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --color-primary: #ff7b54;
    --color-text-primary: #fff;
    --font-fam: 'Inter', Roboto;
}

a, button {
    color: inherit;
    text-decoration: inherit;
}

body {
    background: var(--color-primary);
    color: var(--color-text-primary);
    font-family: var(--font-fam);
}

.menu path {
    fill: white;
}

.menu-container {
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: flex-start;
}

nav {
    display: inline-block;
}

header > a {
    margin-left: 60px;
    font-size: 40px;
    font-weight: bold;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav > ul li {
    margin-inline-end: 36px;
    font-size: 20px;
}

header div img, header div svg {
    margin-right: 60px;
    transform: translateY(0.5rem);
}

@media (width < 840px) {
    nav > ul {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: var(--color-primary);
    }

    .menu-container {
        display: block;
    }
}